*{
    margin:0;
    padding:0;
}
.productConfirmOrders{
    background-color: #F2F2F2;
    height: 100vh;
    width: 100%;
}

.confirmCard{
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    height: 90vh;
    border-radius: 10px;
}

.confirmForm{
    margin-top: 20px;
}
.confirmForm label{
    padding-top:15px;
    padding-bottom: 5px;
}
.btnConfirm{
    background-color: #2D5F2E;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    width: 100%;
}

.btnConfirm:hover{
    color: white;
}

.tableHead{
    background-color: rgba(255, 255, 255, 1);
}
.tableHead th{
    padding: 15px;
    color: #2D5F2E;
}

.tableItems{
    background-color: white;
    margin-top: 20px;
}

.tableItems td{
    padding: 20px 15px;
}
