*{
    margin: 0;
    padding:0;
}
.topSections{
    margin-top: 80px;
    margin-left: 20px;
}

.downSection{
    margin-top: 60px;
    padding: 20px;
}
.cardRow{
    margin-top: 20px;
}

.card{
    padding:15px;
    color: white;
}
.cardHeading{
    font-size: 60px;
}
.cardIcons{
    position: absolute;
    margin-left: 70%;
    font-size: 36px;
    margin-top: 10px;
}

.card1{
    background-color: #EF476F;
    border: none;
}

.card2{
    background-color: #FFD166;
    border: none;
    color: black;
}
.card3{
    background-color: #06D6A0;
    border: none;
}
.card4{
    background-color: #118AB2;
    border:none;
}
.cardA{
    text-decoration: none;
}
.cardA:hover{
    text-decoration: none;
}
